<header>
    Rezerwacje - użytkownik
</header>

<div class="location-path">
    <a routerLink="/home">
        <img src="../../assets/home.png">
    </a>
    <p><a routerLink="/home">Home</a><small> > </small><a
            routerLink="/editrecord">Użytkownik</a><small> > </small>Rezerwacje</p>
</div>

<div class="grid-container">
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG">
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Miasto</p>
            <button type="button"
                routerLink="/details-reservation-user">Szczegóły
                rezerwacji</button><br>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG">
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Miasto</p>
            <button type="button"
            routerLink="/details-reservation-user">Szczegóły
                rezerwacji</button><br>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG">
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Miasto</p>
            <button type="button"
            routerLink="/details-reservation-user">Szczegóły
                rezerwacji</button><br>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG">
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Miasto</p>
            <button type="button"
            routerLink="/details-reservation-user">Szczegóły
                rezerwacji</button><br>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG">
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Miasto</p>
            <button type="button"
            routerLink="/details-reservation-user">Szczegóły
                rezerwacji</button><br>
        </div>
    </div>
</div>