<header>
    Edycja rekordu
</header>

<div class="location-path">
    <a routerLink="/home">
    <img src="/../../assets/home.png">
    </a>
    <p><a routerLink="/home" >Home</a><small> > </small>Użytkownik</p>
</div>

<div class="container">
    <img src="../../assets/sample-img.PNG"><br>
    <button type="button" routerLink="/editrecord/user">Edytuj swoje dane</button><br>
    <button routerLink="/reservations/user" type="button" >Rezerwacje</button><br>
    <button type="button" routerLink="/allrecords">Pokaż swoje mieszkania</button><br>
    <button type="button">Wyloguj</button>
</div>