<header>
    Edycja rekordu
</header>

<div class="location-path">
    <a routerLink="/home">
    <img src="/../../assets/home.png">
    </a>
    <p><a routerLink="/home" >Home</a><small> > </small>Użytkownik</p>
</div>

<div class="container">
    <img src="../../assets/sample-img.PNG"><br>
    <button type="button" onclick="location.href='edit-record-user/edit-record-user.html'">Edytuj swoje dane</button><br>
    <button type="button" onclick="location.href='../reservations/user/reservations-user.html'">Rezerwacje</button><br>
    <button type="button" onclick="location.href='../all-records/all-apartments.html'">Pokaż swoje mieszkania</button><br>
    <button type="button">Wyloguj</button>
</div>