<header>
    Usuwanie rekordu - mieszkanie
</header>

<div class="location-path">
    <a routerLink="/home">
        <img src="../../assets/home.png">
    </a>
    <p><a routerLink="/home">Home</a><small> > </small><a routerLink="/editrecord">Użytkownik</a><small> > </small>
        <a routerLink="/allrecords">Pokaż swoje mieszkania</a><small> > </small>Usuń mieszkanie
    </p>
</div>

<div class="container">
    <h2>Nazwa mieszkania</h2>
    <img src="../../assets/sample-img.PNG"><br>
    <h4>Czy na pewno chcesz usunąć mieszkanie "nazwa mieszkania"?</h4>
    <button type="button" routerLink="/allrecords">Wróć do mieszkań</button><br>
    <!-- delete record -->
    <button type="button" class="delete">Usuń mieszkanie</button>
</div>