<header>
    Lista - 30
</header>

<div class="location-path">
    <a routerLink="/home">
        <img src="../../assets/home.png">
    </a>
    <p><a routerLink="/home">Home</a><small> > </small>Mieszkania "miasto"</p>
</div>

<div class="numbers">
    <p> <a routerLink="/list-ten" > 10 </a> <a routerLink="/list-twe" > 20 </a> 30 </p>
</div>

<div class="grid-container">
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details" >
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <p>Cena</p>
        </div>
    </div>
</div>