<header>
    Edycja rekordu - użytkownik
</header>

<div class="location-path">
    <a routerLink="/home">
        <img src="../../assets/home.png">
    </a>
    <p><a routerLink="/home">Home</a><small> > </small><a
            routerLink="/editrecord">Użytkownik</a><small> > </small>Edytuj dane użytkownika</p>
</div>

<div class="container">
    <img src="../../assets/sample-img.PNG"><br>
    <input placeholder="Imię" id="name"><br>
    <input placeholder="Nazwisko" id="surname"><br>
    <input placeholder="Nr telefonu" id="number"><br>
    <button type="button">Zapisz</button>
</div>