<header>
    Rezerwacja - szczegóły właściciel
</header>

<div class="location-path">
    <a routerLink="/home">
        <img src="../../assets/home.png">
    </a>
    <p><a routerLink="/home">Home</a><small> > </small><a routerLink="/editrecord">Użytkownik</a><small> > </small>
        <a routerLink="/allrecords">Pokaż swoje mieszkania</a><small> > </small><a
            routerLink="/reservations/owner">Rezerwacje</a><small> > </small>Szczegóły rezerwacji
    </p>
</div>

<h2>"Nazwa mieszkania"</h2>

<section id="container-details">

    <div class="picture1">
        <img src="../../assets/sample-img.PNG">
    </div>

    <div class="picture2">
        <img src="../../assets/sample-img.PNG">
    </div>

    <div class="picture3">
        <img src="../../assets/sample-img.PNG">
    </div>

    <div class="booking">
        <div class="arrival">
            Data przyjazdu: <br>
            20.04.2019
        </div>
        <br>
        <div class="departure">
            Data wyjazdu: <br>
            27.04.2019
        </div>
        <br>
        <br>
        <div class="price">
            CENA:
            <br>
            <label class="price-number">419zł</label>
        </div>
        <br>
        <br>
        <button class="button-back" routerLink="/reservations/owner"
            type="button">Wróć</button>
    </div>

</section>