<header>Strona główna</header>

<div class="header">
    <ul class="nav-list">
        <li> <button routerLink="/login" type="button">Zaloguj</button> </li>
        <li> <button routerLink="/register" type="button">Zarejestruj się</button> </li>
        <li> <button routerLink="/editrecord" type="button">Użytkownik</button> </li>
    </ul>
</div>

<div class="search-bar-container">
    <input class="input-search" type="text" placeholder="Szukaj mieszkania...">
    <a class="magnifier" routerLink="/list-ten" >
        <img class="magnifier" src="../../assets/magnifier.png">
    </a>
</div>

<div class="add-button">
    <button routerLink="/addentity" type="button">Dodaj mieszkanie/pokój</button>
</div>

<div class="grid-container">
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG"  routerLink="/details">
        <div class="card-container">
            <p>Proponowane</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details">
        <div class="card-container">
            <p>Proponowane</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details">
        <div class="card-container">
            <p>Proponowane</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details">
        <div class="card-container">
            <p>Proponowane</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details">
        <div class="card-container">
            <p>Proponowane</p>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG" routerLink="/details">
        <div class="card-container">
            <p>Proponowane</p>
        </div>
    </div>
</div>