<header>
    Rezerwacja mieszkania
</header>

<div class="location-path">
    <a routerLink="/home">
    <img src="../../assets/home.png">
    </a>
    <p><a routerLink="/home" >Home</a><small> > </small><a>Mieszkania "miasto"</a><small> > </small>"Nazwa mieszkania"</p>
</div>

<h2>"NAZWA MIESZKANIA"</h2>

<section id="container-details">

    <div class="picture1">
        <img src="../../assets/sample-img.PNG">
    </div>

    <div class="picture2">
        <img src="../../assets/sample-img.PNG">
    </div>

    <div class="picture3">
        <img src="../../assets/sample-img.PNG">
    </div>

    <div class="detail">
        <p>Opis</p><br><br><br><br>
        <p>Metraż</p>
        <p>Ilość łóżek</p>
    </div>

    <div class="booking">
        <div class="arrival">
            Data przyjazdu<br>
            <select>
                <option>dzień</option>
            </select>
            <select>
                <option>miesiąc</option>
            </select>
            <select>
                <option>rok</option>
            </select>
        </div>
        <br>
        <div class="departue">
            Data wyjazdu<br>
            <select>
                <option>dzień</option>
            </select>
            <select>
                <option>miesiąc</option>
            </select>
            <select>
                <option>rok</option>
            </select>
        </div>
        <br>
        <p>CENA</p>
        <br>
        <button type="button">Zarezerwuj</button>
    </div>

</section>