.alert {
    padding: 20px;
    background-color: #FEFEB0;
    color: #8E8E00;
    font-family: Arial, Helvetica, sans-serif;
}

.closebtn {
    margin-left: 15px;
    color: #8E8E00;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
  .closebtn:hover {
    color: black;
  }

  button {
      float: right;
  }