<header>
    Wszystkie rekordy - mieszkania
</header>

<div class="location-path">
    <a routerLink="/home">
        <img src="../../assets/home.png">
    </a>
    <p><a routerLink="/home">Home</a><small> > </small><a routerLink="/editrecord">Użytkownik</a><small> > </small>Pokaż
        swoje mieszkania</p>
</div>

<div class="grid-container">
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG">
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <button type="button" routerLink="/editrecord/apartment">Edytuj
                mieszkanie</button><br>
            <button type="button" routerLink="/reservations/owner">Pokaż
                rezerwacje</button><br>
            <button type="button" routerLink="/deleterecord">Usuń
                mieszkanie</button>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG">
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <button type="button" routerLink="/editrecord/apartment">Edytuj
                mieszkanie</button><br>
            <button type="button" routerLink="/reservations/owner">Pokaż
                rezerwacje</button><br>
            <button type="button" routerLink="/deleterecord">Usuń
                mieszkanie</button>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG">
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <button type="button" routerLink="/editrecord/apartment">Edytuj
                mieszkanie</button><br>
            <button type="button" routerLink="/reservations/owner">Pokaż
                rezerwacje</button><br>
            <button type="button" routerLink="/deleterecord">Usuń
                mieszkanie</button>
        </div>
    </div>
    <div class="grid-item card">
        <img class="card-img" src="../../assets/sample-img.PNG">
        <div class="card-container">
            <p>Nazwa mieszkania</p>
            <button type="button" routerLink="/editrecord/apartment">Edytuj
                mieszkanie</button><br>
            <button type="button" routerLink="/reservations/owner">Pokaż
                rezerwacje</button><br>
            <button type="button" routerLink="/deleterecord">Usuń
                mieszkanie</button>
        </div>
    </div>
</div>